<div class="jumbotron">
  <h1>Raw milk for Little Elm/Frisco</h1>
  <p><%= link_to 'Sign up &raquo;'.html_safe, new_user_registration_path, class: 'btn btn-success btn-lg', role: 'button' %></p>
</div>
