<div class="jumbotron">
  <div class="container">
    <h1>MilkRunner</h1>
    <p>Raw milk ordering system for the Little Elm/Frisco Raw Milk Coop</p>
    <p><%= link_to 'Learn more &raquo;'.html_safe, '#', class: 'btn btn-primary btn-lg', role: 'button' %></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><%= link_to 'View details &raquo;'.html_safe, '#', class: 'btn btn-default', role: 'button' %></p>
    </div>
    <div class="col-md-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><%= link_to 'View details &raquo;'.html_safe, '#', class: 'btn btn-default', role: 'button' %></p>
    </div>
    <div class="col-md-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><%= link_to 'View details &raquo;'.html_safe, '#', class: 'btn btn-default', role: 'button' %></p>
    </div>
  </div>
</div>
